.pag3{
    
    display: grid;
    grid-gap:20px;
   
    grid-template-columns:1fr 2fr ;   
    grid-template-rows: repeat(2,1fr);
    padding-top: 10%;
    padding-left: 20px;
    padding-bottom: 20px;
}
.foto_name{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(189, 169, 169, 0.24);
    text-align: center;
    max-width: 100%;
}
.foto_name img{
    width: 400px;
    height: auto;
    
    position: relative;
    top: -80px;
}
.foto_name h3{
    position: relative;
    top: -50px;
    font-size: 40px;
    width: 400px;
    height: 100px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    color: rgb(72, 74, 75);
    
}
.connt_barras{
    
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(189, 169, 169, 0.24);
    margin: 20px;
}
@media (max-width:800px){
    .pag3{
       
        display: grid;
        grid-gap:20px;
        padding-right: 20px;
        grid-template-columns:1fr ;   
        grid-template-rows: repeat(2,1fr);
    }
}
.connt_barras{
text-align: center;
padding: 10px;
}
.conn{
    color: rgb(72, 74, 75);
    margin-bottom: 5px;
}
.barra div{
    position: relative;
    width: 0;
    height: 12px;
    border-radius: 10px;
    
}
.barras{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.barra{
    position: relative;
    height: 12px;
    border: 1px solid  rgb(72, 74, 75);
    border-radius: 20px;
    
}.baranormal {
	background-color: #A8A878;

  
  
}

.barafire {
	background-color: #F08030;
	
  
}

.barawater {
	background-color: #6890F0;
	
  
}

.baraelectric {
	background-color: #F8D030;
	
  
}

.baragrass {
	background-color: #78C850;
}

.baraice {
	background-color: #98D8D8;
	
  
}

.baraground {
	background-color: #E0C068;
	
  
}

.baraflying {
	background-color: #A890F0;

  
}

.baraghost {
	background-color: #705898;

  
}

.bararock {
	background-color: #B8A038;
	
  
}

.barafighting {
	background-color: #C03028;
	
  
}

.barapoison {
	background-color: #A040A0;
	
 
}

.barapsychic {
	background-color: #F85888;
	
  
}

.barabug {
	background-color: #A8B820;
	
  
}

.baradark {
	background-color: #705848;

  
}

.barasteel {
	background-color: #B8B8D0;

  
}

.baradragon {
	background-color: #7038F8;

 
}